{% load staticfiles %}
{% spaceless %}

<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>

<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    {% block header %}{% endblock %}
</head>

<body>
<div class="Nav-Bar">
    {% block Nav-Bar %}
    {% block output %}
    {% endblock %}
    {% endblock %}
</div>
<div class="dropdown">
    {% block dropdown %}
    {% endblock %}
</div>


<div class="command-box">
    {% block command-box %}
    {% endblock %}
</div>

{% block leaderboard %}
{% endblock %}



<div class="scrollable">
    {% block scrollabe %}
        <table class="answeredlandmarks">
            {% block answeredlandmarks %}
            {% endblock %}
        </table>
    {% endblock %}
</div>

</body>
</html>
{% endspaceless %}
