{% extends 'basic.html' %}
{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href="/static/gamepage.css">
{% endblock %}
{% block title %} Landmark: {{ landmark_name }} {% endblock %}
{% block Nav-Bar %}
    <a class="eScavenge">Game: {{ game_name }}</a>
{% endblock %}


{% block dropdown %}
    {% if landmark_name != 'NewLandmark' %}
        <div>
            <form action="/editLandmark/" method="post">
                {% csrf_token %}
                <input type="hidden" name="landmark_name" value={{ landmark_name }}>
                <input type="submit" class="delbutton" name="deletelandmark" value="DELETE LANDMARK">
            </form>
        </div>
    {% endif %}
{% endblock %}


{% block command-box %}
    <div class="editLandmark">
        {% if landmark_name != 'NewLandmark' %}
            <p class="editlandmarktitle">EDIT LANDMARK</p>
        {% else %}
            <p class="editlandmarktitle">ADD LANDMARK</p>
        {% endif %}
        <br>
        {% if game.started %}
            <p style="color:white; text-align: center; font-size: 25px;">The game has started. No editing while game in
                progress.</p>
        {% elif game.ended %}
            <p style="color:white; text-align: center; font-size: 25px;">The game has ended. No landmarks are
                editable</p>
        {% else %}
            <form action="/editLandmark/" method="post">
                {% csrf_token %}
                <input type="hidden" name="landmark_name" value={{ landmark_name }}>
                <table>
                    <tr>
                        <td class="landarkeditlabels">Landmark Name:</td>
                        <td><input type="text" class="editfield" name="editLMname" value={{ landmark.name }}></td>
                    </tr>
                    <tr>
                        <td class="landarkeditlabels">Landmark Clue:</td>
                        <td><input type="text" class="editfield" name="editLMclue" value={{ landmark.clue }}></td>
                    </tr>
                    <tr>
                        <td class="landarkeditlabels">Landmark Question:</td>
                        <td><input type="text" class="editfield" name="editLMquestion" value={{ landmark.question }}>
                        </td>
                    </tr>
                    <tr>
                        <td class="landarkeditlabels">Landmark Answer:</td>
                        <td><input type="text" class="editfield" name="editLManswer" value={{ landmark.answer }}></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" , class="editButton" , name="editLandmark" , value="Update">
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    </div>
{% endblock %}


{% block side-bar %}
{% endblock %}

{% block leaderboard %}
    r{% endblock %}
