{% extends 'basic.html' %}
{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href="/static/gamepage.css">
{% endblock %}
{% block title %} EditLandmark: {{ landmark.name }} {% endblock %}
{% block Nav-Bar %}
    <a class="eScavenge">Game: {{ landmark.game.name }}</a>
{% endblock %}


{% block dropdown %}
    <div>
        <form action="/editLandmark/" method="post">
            {% csrf_token %}
            <input type="submit", class="delbutton", name="deletelandmark", value="DELETE LANDMARK">
        </form>
    </div>
{% endblock %}


{% block command-box %}
  <div class="editLandmark">
    <p class="editlandmarktitle">EDIT LANDMARK</p>
    <br>
    {% if game.started %}
        <p style="color:white; text-align: center; font-size: 25px;">The game has started.  No editing while game in progress.</p>
    {% elif game.ended %}
        <p style="color:white; text-align: center; font-size: 25px;">The game has ended.  No landmarks are editable</p>
    {% else %}
        <form action="/editLandmark/" method="post">
        {% csrf_token %}
            <p class="landarkeditlabels"><span>Landmark Name:</span>
                <input type="text" class="editfield" name="editLMname">
            </p>
            <p class="landarkeditlabels"><span>Landmark Clue:</span>
                <input type="text" class="editfield" name="editLMclue">
            </p>
            <p class="landarkeditlabels"><span>Landmark Question:</span>
                <input type="text" class="editfield" name="editLMquestion">
            </p>
            <p class="landarkeditlabels"><span>Landmark Answer:</span>
                <input type="text" class="editfield" name="editLManswer">
            </p>
            <p class="landarkeditlabels"><span>Game:</span>
                <input type="text" class="editfield" name="editLMgame">
            </p>
            <br>
            <input type="submit", class="editButton", name="editLandmark", value="Update">
        </form>
    {% endif %}
    </div>
{% endblock %}


{% block side-bar %}
{% endblock %}

{% block leaderboard %}
r{% endblock %}
