{% extends 'basic.html' %}
{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href="/static/gamepage.css">
{% endblock %}
{% block title %} Landmark: {{ landmark_name }} {% endblock %}
{% block Nav-Bar %}
    {% if landmark_name != 'NewLandmark' %}
    <a class="eScavenge">Edit: {{ landmark_name }}</a>
    {% else %}
    <a class="eScavenge">Add New Landmark</a>
    {% endif %}
{% endblock %}


{% block dropdown %}
    {% if landmark_name != 'NewLandmark' and not game.started %}
        <div>
            <form action="/editLandmark/" method="post">
                {% csrf_token %}
                <input type="hidden" name="landmark_name" value={{ landmark_name }}>
                <input type="submit" id="deletelandmark" name="deletelandmark" value="Delete Landmark">
            </form>
        </div>
    {% endif %}
{% endblock %}


{% block command-box %}
    <form action="/editLandmark/" method="post">
        {% csrf_token %}
        <div class="gameInfo">
            <div class="leftsidebar">
                <div class="rightsidebar">
                </div>
            </div>
            {% if landmark_name != 'NewLandmark' %}
                <p class="editlandmarktitle">Edit: {{ landmark_name }}</p>
            {% else %}
                <p class="editlandmarktitle">Add New Landmark</p>
            {% endif %}
            <br/>
            {% if game.started %}
                <p style="color:white; text-align: center; font-size: 25px;">The game has started. No editing while game
                    in
                    progress.</p>
            {% elif game.ended %}
                <p style="color:white; text-align: center; font-size: 25px;">The game has ended. No landmarks are
                    editable</p>
            {% else %}
                <input type="hidden" name="landmark_name" value={{ landmark_name }}>
                <table>
                    <tr>
                        <td id="landmarkeditname">Landmark Name:</td>
                        <td><input type="text" id="editname" name="editLMname" value={{ landmark.name }}></td>
                    </tr>
                    <tr>
                        <td id="landmarkeditclue">Landmark Clue:</td>
                        <td><input type="text" id="editclue" name="editLMclue" value={{ landmark.clue }}></td>
                    </tr>
                    <tr>
                        <td id="landmarkeditquestion">Landmark Question:</td>
                        <td><input type="text" id="editquestion" name="editLMquestion" value={{ landmark.question }}>
                        </td>
                    </tr>
                    <tr>
                        <td id="landmarkeditanswer">Landmark Answer:</td>
                        <td><input type="text" id="editanswer" name="editLManswer" value={{ landmark.answer }}></td>
                    </tr>
                </table>
                </div>
                <div class="userInteraction">
                <input type="submit" id="landmarksubmit" name="landmarksubmit" value="Submit">
            {% endif %}
            </div>
    </form>
{% endblock %}
