{% extends 'basic.html' %}
{% load filters %}
{% block header %}
    <link rel="stylesheet" href="/static/gamepage.css">
{% endblock %}
{% block title %} User: {{ username }} {% endblock %}
{% block Nav-Bar %}
    <form method="post" action="/chooseGame/">
        {% csrf_token %}
        <select class="selected_game" name="selected_game">
            {% for g in games %}
                <option value={{ g.name }} {% if game.name == g.name %}selected{% endif %}>{{ g.name }}</option>
            {% endfor %}
            <option value="NewGame" {% if game == "NewGame" %}selected{% endif %}>New Game</option>
        </select>
        <input type="submit" id="submitgame" name="submit" value="Choose">
    </form>
{% endblock %}
{% block dropdown %}

    <div class="dropdown">
        <button class="dropbtn">{{ username }}</button>
        <div class="dropdown-content">
            <input type="hidden" id="logoutbutton"><a class="logoutbutton" href="/logout">Log Out</a>
        </div>
    </div>
{% endblock %}
{% block command-box %}
    {% if game != "NewGame" %}
        <form action="/saveGame/" id={{ game.name }} method="post">
            <div class="gameInfo">
                {% csrf_token %}
                <h1>{{ game.name }}</h1>
                <input type="hidden" name="game_name" value={{ game.name }}>
                <table>
                    <tr>
                        <td><span class="game_status">Status:</span></td>
                        {% with game|get_status as status %}
                            <td>
                                <select name="game_status">
                                    <option value="0" {% if status == 0 %}selected{% endif %}>Not Started</option>
                                    <option value="1" {% if status == 1 %}selected{% endif %}>Running</option>
                                    <option value="2" {% if status == 2 %}selected{% endif %}>Finished</option>
                                </select>
                            </td>
                        {% endwith %}
                    </tr>
                    <tr>
                        <td><label id="game_penalty" for="game_penalty_value">Wrong Answer Penalty:</label></td>
                        <td><input type="number" min="0" id="game_penalty_value" name="game_penalty_value"
                                   value={{ game.penalty_value }}></td>
                    </tr>
                    <tr>
                        <td><label id="game_time" for="game_penalty_time">Time Exceeded Penalty:</label></td>
                        <td><input type="number" min="0" id="game_penalty_time" name="game_penalty_time"
                                   value={{ game.penalty_time }}></td>
                    </tr>
                    <tr>
                        <td><label id="timer" for="game_timer">Time Allowed:</label></td>
                        <td><input type="text" id="game_timer" name="game_timer"
                                   value={{ game.timer | zero_if_none | remove_milliseconds }}></td>
                    </tr>
                    <tr>
                        <td><label id="team_points" for="game_points">Points Per Landmark:</label></td>
                        <td><input type="number" min="0" id="game_points" name="game_points"
                                   value={{ game.landmark_points }}>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="userInteraction">
                <input type="submit" id="submit" name="submit" value="Submit">
            </div>
        </form>
    {% else %}
        <form action="/saveGame/" id="NewGame" method="post">
            <div class="gameInfo">
                <div class="leftsidebar">
                    <div class="rightsidebar">
                    </div>
                </div>
                {% csrf_token %}
                <table>
                    <h1>New Game</h1>
                    <tr>
                        <td><label id="new_game_label" for="game_name">Name:</label></td>
                        <td><input type="text" id="game_name" name="game_name" pattern="\w+"></td>
                    </tr>
                    <tr>
                        <td><label id="game_penalty" for="game_penalty_value">Wrong Answer Penalty:</label></td>
                        <td><input type="number" min="0" id="game_penalty_value" name="game_penalty_value" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td><label id="game_time" for="game_penalty_time">Time Exceeded Penalty:</label></td>
                        <td><input type="number" min="0" id="game_penalty_time" name="game_penalty_time" value="0"></td>
                    </tr>
                    <tr>
                        <td><label id="timer" for="game_timer">Time Allowed:</label></td>
                        <td><input type="text" id="game_timer" name="game_timer" value="00:00:00"></td>
                    </tr>
                    <tr>
                        <td><label id="team_points" for="game_points">Points Per Landmark:</label></td>
                        <td><input type="number" min="0" id="game_points" name="game_points" value="100">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="userInteraction">
                <input type="submit" id="submit" name="NewSubmit" value="Submit">
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block leaderboard %}
    {% if game != "NewGame" %}
        <table class="leaderboard">
            <thead>
            <tr>
                <th colspan="2">
                    Game Status:
                    {% if game.started %} In Progress
                    {% elif game.ended %} Game Over
                    {% else %} Not Started
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th><span class="text">Team Name</span></th>
                <th><span class="text">Team Points</span></th>
            </tr>
            </thead>
            <tbody>
            {% for team in game|get_all_teams %}
                <tr>
                    {% with "/editTeam?name="|add:team.username as editUrl %}
                        <td><a href={{ editUrl }}>{{ team.username }}</a></td>
                    {% endwith %}
                    <td>{{ team.points }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button class="submitteam"><a href="/editTeam?name=NewTeam">Add a Team</a></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block scrollable %}
    <div class="scrollable">
        {% block answeredlandmarks %}
            {% if game != "NewGame" %}
                <table class="answeredlandmarks">
                    <thead>
                    <tr>
                        <th><span class="text">Landmark Name</span></th>
                        <th><span class="text">Landmark Clue</span></th>
                        <th><span class="text">Landmark Question</span></th>
                        <th><span class="text">Landmark Answer</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for landmark in game|get_all_landmarks %}
                        <tr>
                            <td>
                                <a href="/editLandmark?landmark={{ landmark.name|urlencode }}">{{ landmark.name }}</a>
                            </td>

                            <td>{{ landmark.clue }}</td>
                            <td>{{ landmark.question }}</td>
                            <td>{{ landmark.answer }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button class="submitlandmark"><a href="/editLandmark?landmark=NewLandmark">Add
                                a
                                Landmark</a></button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
