<!DOCTYPE html>
<title>eScavenge Team Page</title>

<html>
<head>
		<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<div class="Nav-Bar">
		<a class="eScavenge">eScavenge</a>
    </div>
    <div class="dropdown">
			<button class="dropbtn">{{ huntUser }}</button>
	   		<div class="dropdown-content">
	   			<br>
	   			    <label id="usernamelabel" for="username">Change User name:</label>
	   				<input type="text" id="username" name="username" pattern="[A-Za-z]*">
	   				<label id="passwordlabel" for="password">Change Password:</label>
	   				<input type="text" id="password" name="password" pattern="^\w*(?=\w*\d)(?=\w*[a-z])(?=\w*[A-Z])\w*$"/>
          			<br>
          			<input type="submit" id="submitButton" value="Submit">
         		</div>
         	</div>
      </div>
</body>
</html>
