{% extends 'basic.html' %}
{% load filters %}

{% block title %} Team: {{ team.username }} {% endblock %}
{% block Nav-Bar %}
    <a class="eScavenge">Game: {{ team.game_id }}</a>
    <p>{{ command }}</p>
{% endblock %}
{% block dropdown %}

    <div class="dropdown">
        <button class="dropbtn">{{ team.username }}</button>
        <div class="dropdown-content">
            <form action="/teamPage/" method="post">
                {% csrf_token %}
                <label id="usernamelabel" for="changeusername">Change User name:</label>
                <input type="text" id="changeusername" name="changeusername">
                <br/>
                <label id="passwordlabel" for="changepassword">Change Password:</label>
                <input type="text" id="changepassword" name="changepassword">
                <br>
                <input type="submit" id="splashSubmitButton" name=changeteam value="Submit">
                <input type="submit" id="logoutbutton" name=logoutbutton value="Log Out">
                <p>{{ output }}</p>
            </form>
        </div>
    </div>
{% endblock %}
{% block command-box %}
    <div class="gameInfo">
    {% if team.game.ended %}
        <p style="color:white; text-align: center; font-size: 25px;">Final Game Stats</p>
        <p style="color:white; text-align: center; font-size: 15px;">Points: {{ team.points }}</p>
        <p style="color:white; text-align: center; font-size: 15px;">Total Time: {{ teamhistory | total_time}}</p>
    {% elif team.game.started %}
        {% if team.current_landmark %}
        <p class="landmarkname">{{ team.current_landmark.name }}
        <p class="landmarkclue">{{ team.current_landmark.clue }}
        <p class="landmarkquestion">{{ team.current_landmark.question }}
        <p style="color:white; position:absolute; bottom:25%; right: 35%">Total Time: {{ teamhistory | total_time}}</p>
            {% else %}
            <p style="color:white; text-align: center; font-size: 25px;">Final Landmark Answered</p>
            {% endif %}
    {% else %}
        <p style="color:white; font-size: 25px; position: absolute; right: 20%; bottom: 50%">Game Hasn't Started</p>
    {% endif %}
    </div>
    <div class="userInteraction">
        {% if team.game.started %}
        <form action="/teamPage/" method="post">
            {% csrf_token %}
            <input type="text" id="commandline" name="commandline">
            <input type="submit" id="answerQuestion" name="answerQuestion" value="Answer Question">
        </form>
        <form action="/teamPage/" method="post">
            {% csrf_token %}
            <input type="submit" id="quitQuestion" name="quitQuestion" value="Quit Question">
        </form>
            {% elif team.game.ended %}
            <p style="color:white; text-align: center; font-size: 25px;">Game Over!</p>
        {% endif %}
    </div>
{% endblock %}
{% block leaderboard %}
    <table class="leaderboard">
        <thead>
        <th>Game Status:
        {% if team.game.started %} In Progress
        {% elif team.game.ended %} Game Over
        {% else %} Not Started</th>
        {% endif %}
        <tr>
            <th><span class="text">Team Name</span></th>
            <th><span class="text">Team Points</span></th>
        </tr>
        </thead>
        <tbody>
        {% for team in teamlist %}
            <tr>
                <td>{{ team.username }}</td>
                <td>{{ team.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block scrollable %}
    <div class="scrollable">

        {% block answeredlandmarks %}
            <table class="answeredlandmarks">

                <thead>
                <tr>
                    <th><span class="text">Landmark Name</span></th>
                    <th><span class="text">Landmark Points</span></th>
                    <th><span class="text">Landmark Time Taken</span></th>
                </tr>
                </thead>
                <tbody>
                {% for stat in teamhistory %}
                    <tr>
                        <td>{{ stat.landmark.name }}</td>
                        <td>{{ stat.points }}</td>
                        <td>{{ stat.time_delta | remove_milliseconds }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
{% endblock %}
