{% extends 'basic.html' %}
{% load filters %}

{% block title %} Team: {{ huntUser }} {% endblock %}
{% block Nav-Bar %}

    <a class="eScavenge">Game: {{ huntUser| getTeamGame }}</a>

{% endblock %}
{% block dropdown %}

    <div class="dropdown">
			<button class="dropbtn">{{huntUser}}</button>
	   		<div class="dropdown-content">
	   			<form action="/terminal/" method="post">
                    {% csrf_token %}
	   			    <label id="usernamelabel" for="username">Change User name:</label>
	   				<input type="text" id="username" name="username">
	   				<br/>
	   				<label id="passwordlabel" for="password">Change Password:</label>
	   				<input type="text" id="password" name="password">
          			<br>
          			<input type="submit" id="splashSubmitButton" value="Submit">
         		</form>
         	</div>
    </div>
{% endblock %}
{% block command-box %}
    <div class="gameInfo">
            <p class="landmarkname">{{ huntUser| getLandmarkName }}
            <p class="landmarkclue">{{ huntUser| getLandmarkClue }}
            <p class="landmarkquestion">{{ huntUser| getLandmarkQuestion }}
    </div>
    <div class="userInteraction">
        <form action="/validate/" method="post">
            {% csrf_token %}
            <input type="text" id="commandline" name="commandline">
        </form>
        <form action="/validate/" method="post">
            {% csrf_token %}
            <input type="submit" id="answerQuestion" value="Answer Question">
        </form>
        <form action="/validate/" method="post">
                {% csrf_token %}
            <input type="submit" id="quitQuestion" value="Quit Question">
        </form>
    </div>
    <p>{{ output }}</p>
{% endblock %}
{% block side-bar %}
{% endblock %}

{% block leaderboard %}
    <tr>
        <th>Team Name</th>
        <th>Team Points</th>
    </tr>
        {% for username in teamlist %}
            <tr>
            <td>{{ username }}</td>
            <td>{{ username | getTeamPoints }}</td>
            </tr>
        {% endfor %}

{% endblock %}
{% block scroll-answered %}
    <div class="scroll-bar"></div>
    {% for landmark in landmarkanswered_list %}

    {% endfor %}
{% endblock %}