body {
    background-color: #71f457;
    font-family: Helvetica;
}

.Nav-Bar {
    background-color: #006000;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 4px 6px #006000;
}

.outputBox{
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 1.0),
    0px 1px 13px rgba(255, 255, 255, 0.1),
    0px 8px 23px rgba(255, 255, 255, 0.1);
    background-color: #8aff8e;
    box-shadow: 4px 6px #111111;
    border-radius: 25px;
    position: fixed;
    top: 10px;
    left: 33%;
    height: 50px;
    width: 450px;
}
.eScavenge {
    font-family: Helvetica;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
    color: #f2f2f2;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 1.0),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 30px;
}

.help {

    font-family: Helvetica;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    float: right;
    width: auto;
    border: none;
    outline: none;
    display: block;
    color: #f2f2f2;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 1.0),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

.delbutton {
  background-color: red;
  color: black;

  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px #003300;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;

    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px #003300;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8aff8e;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Helvetica;
    border: 5px solid black;
    right: 5px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    font-family: Helvetica;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #71f457
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#answerQuestion {
    position: relative;
    top: 20px;
    left: 25px;
    float: left;
    box-shadow: 1px 2px #003300;
}

#quitQuestion {
    position: relative;
    top: 20px;
    right: 25px;
    float: right;
    box-shadow: 1px 2px #003300;
}

#commandline {
    positon: relative;
    width: 385px;
}


.userInteraction {
    height: 80px;
    widgth: 100px;
    border: 5px solid black;
    box-shadow: 2px 4px #003300;
}

.command-box {
    height: 400px;
    width: 400px;
    box-shadow: 2px 8px #001100;
    border: 3px solid #005000;
    background-color: #00bb00;
    position: fixed;
    top: 15%;
    left: 35%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 1.0),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px #003300;
    text-align: center;
}

#noGame {
    color: white;
}

.gameInfo {
    text-align: center;
    width: 390px;
    height: 300px;
    border: 5px solid black;
    color: white;

}

table.leaderboard {
    display: table;
    right: 0px;
    width: 300px;
    position: absolute;
    color: white;
    box-shadow: 4px 6px #003300;
    border: 3px solid #000000;
    background-color: #00bb00;
    top: 11%;

}

table.leaderboard thead, table.leaderboard tbody {
    width: 100%;
}

table.leaderboard tbody {
    overflow: auto;
    height: 150px;
}

table.leaderboard tr {
    width: 100%;
    display: table;
    text-align: center;
}

table.leaderboard th, table.leaderboard td {
    width: 33%;
}

.scrollable {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-color: #006000;
    color: white;
    position: absolute;
    padding-bottom: 20px;
    padding-top: 5px;
    bottom: 0px;
    overflow: auto;
}

.answeredlandmarks {
    width: 100%;
}

table.answeredlandmarks tbody {
    overflow: auto;

}

table.answeredlandmarks tr {
    display: table;
    width: 100%;
    text-align: center;
}

table.answeredlandmarks th, table.answeredlandmarks td {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1.0),
    0px 3px 13px rgba(0, 0, 0, 0.1),
    0px 9px 23px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 33%;
}

table.answeredlandmarks td {
    border-bottom: 1px solid black;

}

.answeredlandmarks tr:nth-child(even) {
    background-color: #009900;
}

.editLandmark {
    width: 390px;
    height: 330px;
    border: 5px solid black;
}

.submitEdit {
    height: 50px;
    widgth: 100px;
    border: 5px solid black;
    box-shadow: 2px 4px #003300;
}

.editButton {
    background-color: yellow;
    color: black;
    font-weight: bold;

    position: absolute;
    bottom: 3%;
    left: 39%;
    height: 40px;
    width: 90px;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px #003300;
}

.editlandmarktitle {
  font-weight: bold;
  color: white;
  height: 10px;
  font-size: xx-large;
}

.landarkeditlabels {
  vertical-align: top;
  height: 10px;
  width: 200px;
  resize: none;
  display: inline-block;
  color: white;
  font-weight: bold;

}
